minishell
unit_tests/data_structures_test
unit_tests/exec_test
unit_tests/lexer_test
unit_tests/parser_test
doxygen_cfg
doc/*
doc/*/*
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# VS Code
.vscode
*.json
dkms.conf

.DS_Store
.idea/

unit_tests/check-0.15.2/tests/

unit_tests/lexer_test

unit_tests/parser_test
/unit_tests/check-0.15.2/src/.libs/libcheck.ver